name: test

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Test
        run: |
         chmod +x .github/workflows/test.sh
         ./.github/workflows/test.sh
        shell: bash