name: test

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Test
        run: |
         chmod +x .github/workflows/test.sh
         ./.github/workflows/test.sh
        shell: bash