name: test

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Test
        run: |
         chmod +x .github/workflows/test.sh
         ./.github/workflows/test.sh
        shell: bash